In [1]:
import pandas as pd

In [43]:
df=pd.read_excel(r"D:\VSCODE\Crop_Predictions\Crop_recommendation.xlsx",na_values=['?',' ?','? '])

In [37]:
df.shape

(2200, 8)

In [48]:
df

          N     P     K  temperature   humidity        ph    rainfall   label
0      90.0  42.0  43.0    20.879744  82.002744  6.502985  202.935536    rice
1      85.0  58.0  41.0    21.770462  80.319644  7.038096  226.655537    rice
2      60.0  55.0   0.0    23.004459  82.320763  7.840207  263.964248    rice
3      74.0  35.0  40.0    26.491096  80.158363  6.980401    0.000000    rice
4      78.0  42.0  42.0    20.130175  81.604873  7.628473  262.717340    rice
...     ...   ...   ...          ...        ...       ...         ...     ...
2195  107.0  34.0  32.0    26.774637  66.413269  6.780064  177.774507  coffee
2196   99.0  15.0  27.0    27.417112  56.636362  6.086922  127.924610  coffee
2197  118.0  33.0  30.0    24.131797  67.225123  6.362608  173.322839  coffee
2198  117.0  32.0  34.0    26.272418  52.127394  6.758793  127.175293  coffee
2199  104.0   NaN  30.0    23.603016  60.396475  6.779833  140.937041  coffee

[2200 rows x 8 columns]

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N            2161 non-null   float64
 1   P            2104 non-null   float64
 2   K            2059 non-null   float64
 3   temperature  2199 non-null   float64
 4   humidity     2199 non-null   float64
 5   ph           2185 non-null   float64
 6   rainfall     2200 non-null   float64
 7   label        2200 non-null   object
dtypes: float64(7), object(1)
memory usage: 137.6+ KB

In [44]:
df.isna().sum()

N               39
P               96
K              141
temperature      1
humidity         1
ph              15
rainfall         0
label            0
dtype: int64

In [45]:
df.nunique()

N               134
P               115
K                72
temperature    2199
humidity       2192
ph             2185
rainfall       2194
label            22
dtype: int64

In [49]:
df['N'].fillna(37.0,inplace=True)
df['P'].fillna(52.0,inplace=True)
df['K'].fillna(32.0,inplace=True)
df['temperature'].fillna(25.0,inplace=True)
df['ph'].fillna(6.42,inplace=True)
df['humidity'].fillna(df['humidity'].median(),inplace=True)

In [46]:
# for i in df.columns:
#       if df[i].dtypes=='O' and df[i].nunique()<=150:
#             df[i].fillna(df[i].mode()[0],inplace=True)

#       if df[i].dtypes=='O':
#             df[i].fillna(df[i].mode()[0],inplace=True)
#       else:
#             df[i].fillna(df[i].median(),inplace=True)

In [50]:
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()

In [52]:
df['Crop_encode']=lb.fit_transform(df['label'])

In [62]:
df

,N,P,K,temperature,humidity,ph,rainfall,label,Crop_encode
0,90.0,42.0,43.0,20.879744,82.002744,6.502985,202.935536,rice,20
1,85.0,58.0,41.0,21.770462,80.319644,7.038096,226.655537,rice,20
2,60.0,55.0,0.0,23.004459,82.320763,7.840207,263.964248,rice,20
3,74.0,35.0,40.0,26.491096,80.158363,6.980401,0.000000,rice,20
4,78.0,42.0,42.0,20.130175,81.604873,7.628473,262.717340,rice,20
...,...,...,...,...,...,...,...,...,...
2195,107.0,34.0,32.0,26.774637,66.413269,6.780064,177.774507,coffee,5
2196,99.0,15.0,27.0,27.417112,56.636362,6.086922,127.924610,coffee,5
2197,118.0,33.0,30.0,24.131797,67.225123,6.362608,173.322839,coffee,5
2198,117.0,32.0,34.0,26.272418,52.127394,6.758793,127.175293,coffee,5
2199,104.0,52.0,30.0,23.603016,60.396475,6.779833,140.937041,coffee,5

In [76]:
df['Crop_encode'].value_counts()

Crop_encode
20    100
11    100
8     100
6     100
4     100
17    100
16    100
0     100
15    100
21    100
7     100
12    100
1     100
19    100
10    100
2     100
14    100
13    100
18    100
9     100
3     100
5     100
Name: count, dtype: int64

In [53]:
df.drop('label',axis=1).corr()

,N,P,K,temperature,humidity,ph,rainfall,Crop_encode
N,1.000000,-0.231346,-0.144424,0.026949,0.178456,0.096509,0.044758,-0.034463
P,-0.231346,1.000000,0.734592,-0.124293,-0.111139,-0.134263,-0.068187,-0.481261
K,-0.144424,0.734592,1.000000,-0.163544,0.177250,-0.166653,-0.060981,-0.347878
temperature,0.026949,-0.124293,-0.163544,1.000000,0.200029,-0.020107,-0.026928,0.113516
humidity,0.178456,-0.111139,0.177250,0.200029,1.000000,-0.003682,0.088600,0.197384
ph,0.096509,-0.134263,-0.166653,-0.020107,-0.003682,1.000000,-0.109418,-0.015593
rainfall,0.044758,-0.068187,-0.060981,-0.026928,0.088600,-0.109418,1.000000,0.042314
Crop_encode,-0.034463,-0.481261,-0.347878,0.113516,0.197384,-0.015593,0.042314,1.000000

In [64]:
x=df.drop(['label','Crop_encode'],axis=1)
y=df['Crop_encode']

In [65]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=2529)

In [66]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(1760, 7)
(440, 7)
(1760,)
(440,)

In [67]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [68]:
model = LogisticRegression()
model.fit(x_train, y_train)

# # Predictions on train and test sets
# train_predictions = model.predict(x_train)
# test_predictions = model.predict(x_test)

# # Calculate accuracy scores
# train_accuracy = accuracy_score(y_train, train_predictions)
# test_accuracy = accuracy_score(y_test, test_predictions)

c:\Users\ASHOK\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [73]:
model.score(x_test,y_test)

0.9181818181818182

In [69]:
# # Displaying the train and test accuracy scores
# print("Train Accuracy:",train_accuracy)
# print(f"Test Accuracy: {test_accuracy:.4f}")   #.4f means it won't give many decimal numbers 0.91666666666666666

Train Accuracy: 0.9210227272727273
Test Accuracy: 0.9182

In [71]:
import pickle

In [72]:
with open('model.pkl','wb') as model_file:
    pickle.dump(model,model_file)